port = 5432
max_connections = 100
shared_buffers = 512MB
effective_cache_size = 1GB
work_mem = 16MB
max_worker_processes = 2
max_parallel_workers_per_gather = 1
max_parallel_maintenance_workers = 1
max_parallel_workers = 1
random_page_cost = 1.5
seq_page_cost = 1
max_wal_size = 1GB
min_wal_size = 80MB
idle_in_transaction_session_timeout = 1h
idle_session_timeout = 1h
autovacuum = on
autovacuum_max_workers = 1
datestyle = 'ISO, DMY'
log_timezone = 'America/Sao_Paulo'
timezone = 'America/Sao_Paulo'
lc_messages = 'pt_PT.UTF-8'
lc_monetary = 'pt_PT.UTF-8'
lc_numeric = 'pt_PT.UTF-8'
lc_time = 'pt_PT.UTF-8'
default_text_search_config = 'pg_catalog.portuguese'
